fieldset {
	font: 0.8em "Helvetica Neue", helvetica, arial, sans-serif;
	/*color: #fff;*/
	padding: 2px;
	border: solid 1px #8c910b;
	width: 350 px;
	
	-moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}
legend {
	color: #fff;
	font-weight: bold;
	font-variant: small-caps;
	background-color: #8c910b;
	padding: 2px 6px;
	margin-bottom: 8px;
	
	-moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}
label{
	font-weight: bold;
	line-height: normal;
	text-align: right;
	margin-right: 10px;
	position: relative;
	display: block;
	float: left;
	width: 180px;}
	
input.inputFormularioText{
	font-size: .8em;
	color: #666;
	padding: 2px;
	border: solid 1px #f66;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 15px;}
input.inputFormularioText:hover{
	border: solid 1px #060;}
input.inputFormularioText:focus{
	color: #000;
	border: solid 1px #060;}
select.inputFormularioSelect{
	font-size: .8em;
	color: #666;

	padding: 2px;
	border: solid 1px #f66;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;}
select.inputFormularioSelect:hover{
	color: #333;

	border: solid 1px #060;}
select.inputFormularioSelect:focus{
	color: #000;

	border: solid 1px #060;}
input.botonEnviar{
	font-size: 1.2em;
	vertical-align: middle;
	font-weight: bolder;
	text-align: center;
	color: #483d8b;
	padding: 1px;
	margin: 5px;
	border: solid 1px #f66;
	cursor: pointer;
	float: right;
	width: 80px;
	background-color: #ccc;
	
	-moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	
	}
	
input.botonEnviar:hover{

	background-color: #fff;}

	
input.formularioText{
	font-size: .8em;
	color: #fff;
	background-color: #fee;
	padding: 2px;
	border: solid 1px #f66;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 15px;}
input.formularioText:hover{
	background-color: #cff;
	border: solid 1px #060;}
input.formularioText:focus{
	color: #000;
	background-color: #fff;
	border: solid 1px #060;}
	